# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data (grande / não versionado)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Experimentos / tracking
mlruns/
reports/*
!reports/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
